In [2]:
#load this data in sql and in pandas with a relation in sql 
import pandas as pd
#sheet1 Orders data
order = pd.read_excel('Superstore_USA.xlsx')
#sheet2 Retruns data
returns = pd.read_excel('Superstore_USA.xlsx',sheet_name='Returns')
#sheet3 users data
user = pd.read_excel('Superstore_USA.xlsx',sheet_name='Users')

In [2]:
#create CSV for sheet1 ='Orders'
order.to_csv("SuperStore_USA_Orders.csv", index= None, header=True)

In [3]:
#create CSV for sheet2= 'Returns'
returns.to_csv("SuperStore_USA_Returns.csv", index= None, header=True)

In [4]:
#create CSV for sheet3  ='Users'
user.to_csv("SuperStore_USA_Users.csv", index= None, header=True)

In [5]:
import sqlalchemy as s
engine = s.create_engine("mysql+pymysql://'root':Golu12#$@localhost:3306/Task")
ord_csv = pd.read_csv("SuperStore_USA_Orders.csv")

In [7]:
ret_csv = pd.read_csv("SuperStore_USA_Returns.csv")
usr_csv = pd.read_csv("SuperStore_USA_Users.csv")

In [8]:
#2 . while loading this data you dont have to create a table manually you can use any automated approach to create a table and load a data in bulk in table
#Create sql table for Order ,Returns and USer sheet
ord_csv.to_sql(name='SuperStore_USA_Orders', con=engine, if_exists='replace', index =False)
ret_csv.to_sql(name='SuperStore_USA_Returns', con=engine, if_exists='replace', index= False)
usr_csv.to_sql(name='SuperStore_USA_Users', con=engine, if_exists = 'replace', index=False)

C:\Users\admin\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'SuperStore_USA_Orders' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)
C:\Users\admin\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'SuperStore_USA_Returns' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)
C:\Users\admin\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'SuperStore_USA_Users' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

In [3]:
#3 . Find out how return that we ahve recived and with a product id 
import pandas as pd
import sqlalchemy as s

engine = s.create_engine("mysql+pymysql://'root':Golu12#$@localhost:3306/Task")
#reading the ORder table in to dataframe 
or_df= pd.read_sql_table("superstore_usa_orders", engine)
#reading the Retruns table in to dataframe 
rt_df = pd.read_sql_table("superstore_usa_returns", engine)

In [26]:
#pd.merge(rt_df,or_df, on ='Order ID').count()
pf=pd.merge(rt_df,or_df, on ='Order ID')

In [36]:
pf[['Order ID', 'Status', 'Product Name']]

    Order ID    Status                                       Product Name
0        612  Returned                                         Xerox 1928
1        612  Returned                                               6190
2       4610  Returned  80 Minute Slim Jewel Case CD-R , 10/Pack - Sta...
3       4610  Returned         #10 White Business Envelopes,4 1/8 x 9 1/2
4       7079  Returned  Hon 2090 “Pillow Soft” Series Mid Back Swivel/...
..       ...       ...                                                ...
93     57638  Returned  Chromcraft Bull-Nose Wood Round Conference Tab...
94     57638  Returned       Personal Creations™ Ink Jet Cards and Labels
95     57638  Returned  Kleencut® Forged Office Shears by Acme United ...
96     59009  Returned                                          Xerox 197
97     59937  Returned                                          Xerox 197

[98 rows x 3 columns]

In [39]:
#4 . try  to join order and return data both in sql and pandas 
#join in pandas
T4=pd.merge(rt_df,or_df, on ='Order ID')
T4.head(5)

,Order ID,Status,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,...,Product Base Margin,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales
0,612,Returned,95,Medium,0.10,5.28,6.26,3011,Tammy Raynor,Regular Air,...,0.40,East,Massachusetts,Boston,2113,2013-10-20,2013-10-22,-166.290,105,552.03
1,612,Returned,96,Medium,0.01,65.99,2.50,3011,Tammy Raynor,Regular Air,...,0.55,East,Massachusetts,Boston,2113,2013-10-20,2013-10-22,881.676,90,5297.63
2,4610,Returned,653,Low,0.09,8.33,1.99,2548,Wayne Bass,Regular Air,...,0.52,West,California,Los Angeles,90068,2011-06-17,2011-06-19,-17.010,12,100.32
3,4610,Returned,654,Low,0.08,15.67,1.39,2548,Wayne Bass,Regular Air,...,0.38,West,California,Los Angeles,90068,2011-06-17,2011-06-21,203.010,44,678.72
4,7079,Returned,979,Medium,0.01,280.98,57.00,478,Michael Wiggins,Delivery Truck,...,0.78,East,New York,New York City,10177,2011-02-08,2011-02-09,-416.700,44,12296.49

In [42]:
#join in sql
import mysql.connector as con
mydb = con.connect(host='localhost', user='root', passwd= 'Golu12#$', database= 'task')
cursor =mydb.cursor()
join_qury = """SELECT * FROM task.superstore_usa_orders join task.superstore_usa_returns on task.superstore_usa_returns.`Order ID` = task.superstore_usa_orders.`Order ID`"""
cursor.execute(join_qury)
jrcd =cursor.fetchall()

for rcd in jrcd:
    print(rcd)

(1359, 'Low', 0.05, 5.85, 2.27, 21, 'Tony Wilkins Winters', 'Regular Air', 'Small Business', 'Office Supplies', 'Pens & Art Supplies', 'Wrap Bag', 'Dixon My First Ticonderoga Pencil, #2', 0.56, 'East', 'New York', 'New York City', 10012, '2011-04-20', '2011-04-24', -6.82, 9, 54.79, 9895, 9895, 'Returned')
(1950, 'Medium', 0.01, 4.91, 0.5, 117, 'Linda Weiss', 'Regular Air', 'Home Office', 'Office Supplies', 'Labels', 'Small Box', 'Avery 493', 0.36, 'West', 'Washington', 'Seattle', 98103, '2010-04-04', '2010-04-06', 112.06, 47, 228.46, 13959, 13959, 'Returned')
(1951, 'Medium', 0.09, 4.0, 1.3, 117, 'Linda Weiss', 'Express Air', 'Home Office', 'Office Supplies', 'Paper', 'Wrap Bag', 'EcoTones® Memo Sheets', 0.37, 'West', 'Washington', 'Seattle', 98103, '2010-04-04', '2010-04-06', 16.79, 19, 77.61, 13959, 13959, 'Returned')
(5055, 'High', 0.02, 3.28, 5.0, 117, 'Linda Weiss', 'Regular Air', 'Home Office', 'Office Supplies', 'Pens & Art Supplies', 'Wrap Bag', 'Newell 35', 0.56, 'West', 'Washington', 'Seattle', 98103, '2013-08-16', '2013-08-18', -89.06, 52, 190.52, 36038, 36038, 'Returned')
(5573, 'Low', 0.02, 11.97, 5.81, 272, 'Eleanor Swain', 'Regular Air', 'Small Business', 'Office Supplies', 'Pens & Art Supplies', 'Small Pack', 'Staples SlimLine Pencil Sharpener', 0.6, 'South', 'North Carolina', 'Charlotte', 28204, '2013-08-12', '2013-08-12', -81.9413, 76, 912.06, 39490, 39490, 'Returned')
(5574, 'Low', 0.03, 159.31, 60.0, 272, 'Eleanor Swain', 'Delivery Truck', 'Small Business', 'Furniture', 'Tables', 'Jumbo Drum', 'Hon Non-Folding Utility Tables', 0.55, 'South', 'North Carolina', 'Charlotte', 28204, '2013-08-12', '2013-08-16', 11.0349, 34, 5689.28, 39490, 39490, 'Returned')
(5302, 'High', 0.01, 8.33, 1.99, 308, 'Glen Caldwell', 'Regular Air', 'Small Business', 'Technology', 'Computer Peripherals', 'Small Pack', '80 Minute Slim Jewel Case CD-R , 10/Pack - Staples', 0.52, 'West', 'Washington', 'Seattle', 98115, '2010-08-14', '2010-08-15', 10.74, 32, 280.62, 37760, 37760, 'Returned')
(5303, 'High', 0.04, 85.99, 0.99, 308, 'Glen Caldwell', 'Regular Air', 'Small Business', 'Technology', 'Telephones and Communication', 'Wrap Bag', 'Accessory34', 0.55, 'West', 'Washington', 'Seattle', 98115, '2013-08-14', '2013-08-16', 897.867, 76, 5546.06, 37760, 37760, 'Returned')
(5257, 'Low', 0.09, 550.98, 64.59, 349, 'Kim Weiss', 'Delivery Truck', 'Home Office', 'Furniture', 'Tables', 'Jumbo Box', 'Chromcraft Bull-Nose Wood 48" x 96" Rectangular Conference Tables', 0.66, 'South', 'Florida', 'Miami', 33132, '2012-09-09', '2012-09-11', -1770.96597678, 76, 40136.93, 37414, 37414, 'Returned')
(6643, 'Critical', 0.02, 5.98, 5.46, 349, 'Kim Weiss', 'Regular Air', 'Home Office', 'Office Supplies', 'Paper', 'Small Box', 'Xerox 1983', 0.36, 'South', 'Florida', 'Miami', 33132, '2012-12-10', '2012-12-11', -80.9039, 62, 374.26, 47265, 47265, 'Returned')
(979, 'Medium', 0.01, 280.98, 57.0, 478, 'Michael Wiggins', 'Delivery Truck', 'Small Business', 'Furniture', 'Chairs & Chairmats', 'Jumbo Drum', 'Hon 2090 “Pillow Soft” Series Mid Back Swivel/Tilt Chairs', 0.78, 'East', 'New York', 'New York City', 10177, '2011-02-08', '2011-02-09', -416.7, 44, 12296.49, 7079, 7079, 'Returned')
(980, 'Medium', 0.03, 6.48, 5.94, 478, 'Michael Wiggins', 'Regular Air', 'Small Business', 'Office Supplies', 'Paper', 'Small Box', 'Eureka Recycled Copy Paper 8 1/2" x 11", Ream', 0.37, 'East', 'New York', 'New York City', 10177, '2011-02-08', '2011-02-10', -34.91, 18, 128.13, 7079, 7079, 'Returned')
(1147, 'Medium', 0.08, 2.94, 0.96, 491, 'Toni Swanson', 'Regular Air', 'Consumer', 'Office Supplies', 'Pens & Art Supplies', 'Wrap Bag', 'Newell 343', 0.58, 'East', 'New York', 'New York City', 10154, '2010-05-15', '2010-05-17', -2.12, 23, 66.7, 8353, 8353, 'Returned')
(1146, 'Medium', 0.06, 8.32, 2.38, 491, 'Toni Swanson', 'Regular Air', 'Consumer', 'Technology', 'Computer Peripherals', 'Small Pack', 'Imation 3.5 IBM Formatted Diskettes, 10/Box', 0.74, 'East', 'New York', 'New York City', 10154, '2013-05-15', '2013-05-17', -36.63, 44, 371.28, 8353, 8353, 'Returned')
(2368, 'Medium', 0.0, 6.88, 2.0, 553, 'Kristine Connolly', 'Express Air', 'Home Office', 'Office Supplies', 'Paper', 'Wrap Bag', 'Adams Phone Message Book, 200 Message Capacity, 8 1/16” x 11”', 0.39, 'West', 'California', 'Los Angeles', 90008, '2010-01-28', '2010-01-29', 34.068000000000005, 36, 267.53, 17155, 17155, 'Returned')
(2369, 'Medium', 0.03, 32.48, 35.0, 553, 'Kristine Connolly', 'Express Air', 'Home Office', 'Office Supplies', 'Storage & Organization', 'Large Box', 'Fellowes Neat Ideas® Storage Cubes', 0.81, 'West', 'California', 'Los Angeles', 90008, '2013-01-28', '2013-01-28', -1440.4319999999998, 34, 1168.35, 17155, 17155, 'Returned')
(6813, 'Low', 0.0, 12.97, 1.49, 604, 'Lindsay P Ashley', 'Regular Air', 'Home Office', 'Office Supplies', 'Binders and Binder Accessories', 'Small Box', 'Mead 1st Gear 2" Zipper Binder, Asst. Colors', 0.35, 'West', 'California', 'Los Angeles', 90045, '2011-01-11', '2011-01-13', 58.46640000000001, 27, 360.7, 48487, 48487, 'Returned')
(7828, 'Low', 0.05, 1.82, 1.0, 604, 'Lindsay P Ashley', 'Regular Air', 'Home Office', 'Office Supplies', 'Pens & Art Supplies', 'Wrap Bag', 'Crayola Anti Dust Chalk, 12/Pack', 0.4, 'West', 'California', 'Los Angeles', 90045, '2013-09-30', '2013-10-02', 0.86, 84, 154.6, 55968, 55968, 'Returned')
(7893, 'Not Specified', 0.0, 236.97, 59.24, 640, 'Neal Wolfe', 'Delivery Truck', 'Consumer', 'Furniture', 'Tables', 'Jumbo Box', 'Chromcraft Rectangular Conference Tables', 0.61, 'West', 'Washington', 'Seattle', 98119, '2010-02-14', '2010-02-15', 1192.04, 34, 6686.34, 56452, 56452, 'Returned')
(3749, 'Critical', 0.02, 120.98, 30.0, 699, 'Jenny Gold', 'Delivery Truck', 'Consumer', 'Furniture', 'Chairs & Chairmats', 'Jumbo Drum', 'Hon Every-Day® Chair Series Swivel Task Chairs', 0.64, 'West', 'California', 'Los Angeles', 90041, '2011-07-23', '2011-07-24', -64.14, 14, 1711.44, 26784, 26784, 'Returned')
(8079, 'Low', 0.09, 217.85, 29.1, 699, 'Jenny Gold', 'Delivery Truck', 'Consumer', 'Furniture', 'Tables', 'Jumbo Box', 'Chromcraft Bull-Nose Wood Round Conference Table Top, Wood Base', 0.68, 'West', 'California', 'Los Angeles', 90041, '2013-04-22', '2013-04-27', -526.478095, 35, 5740.62, 57638, 57638, 'Returned')
(8080, 'Low', 0.07, 11.48, 5.43, 699, 'Jenny Gold', 'Regular Air', 'Consumer', 'Office Supplies', 'Paper', 'Small Box', 'Personal Creations™ Ink Jet Cards and Labels', 0.36, 'West', 'California', 'Los Angeles', 90041, '2013-04-22', '2013-04-24', 78.89, 49, 570.43, 57638, 57638, 'Returned')
(8081, 'Low', 0.08, 2.08, 2.56, 699, 'Jenny Gold', 'Regular Air', 'Consumer', 'Office Supplies', 'Scissors, Rulers and Trimmers', 'Small Pack', 'Kleencut® Forged Office Shears by Acme United Corporation', 0.55, 'West', 'California', 'Los Angeles', 90041, '2013-04-22', '2013-04-24', -85.58, 49, 100.08, 57638, 57638, 'Returned')
(3750, 'Critical', 0.09, 13.99, 7.51, 699, 'Jenny Gold', 'Regular Air', 'Consumer', 'Technology', 'Office Machines', 'Medium Box', 'Sharp EL500L Fraction Calculator', 0.39, 'West', 'California', 'Los Angeles', 90041, '2013-07-23', '2013-07-24', -37.9407, 46, 613.65, 26784, 26784, 'Returned')
(7038, 'Medium', 0.05, 6.48, 7.37, 894, 'Gail Rankin Cole', 'Express Air', 'Corporate', 'Office Supplies', 'Paper', 'Small Box', 'Xerox 210', 0.37, 'East', 'District of Columbia', 'Washington', 20024, '2011-08-18', '2011-08-19', -47.67, 25, 182.21, 50246, 50246, 'Returned')
(7234, 'Low', 0.09, 25.98, 4.08, 949, 'Ernest Oh', 'Regular Air', 'Consumer', 'Office Supplies', 'Pens & Art Supplies', 'Small Pack', 'Boston 1799 Powerhouse™ Electric Pencil Sharpener', 0.57, 'West', 'California', 'Los Angeles', 90049, '2013-03-04', '2013-03-13', 129.81, 34, 823.98, 51559, 51559, 'Returned')
(6711, 'High', 0.0, 6.68, 5.66, 1044, 'Erin Ballard', 'Regular Air', 'Home Office', 'Office Supplies', 'Paper', 'Small Box', 'Xerox 1923', 0.37, 'West', 'California', 'Los Angeles', 90004, '2010-08-27', '2010-08-29', -76.94, 90, 617.4, 47813, 47813, 'Returned')
(4398, 'Low', 0.09, 5.98, 1.49, 1044, 'Erin Ballard', 'Express Air', 'Home Office', 'Office Supplies', 'Binders and Binder Accessories', 'Small Box', 'Avery Hanging File Binders', 0.39, 'West', 'California', 'Los Angeles', 90004, '2012-03-20', '2012-03-22', 87.601, 56, 342.87, 31303, 31303, 'Returned')
(7966, 'High', 0.05, 7.99, 5.03, 1060, 'Gene Gilliam', 'Regular Air', 'Small Business', 'Technology', 'Telephones and Communication', 'Medium Box', 'Bell Sonecor JB700 Caller ID', 0.6, 'South', 'Georgia', 'Atlanta', 30318, '2011-02-03', '2011-02-05', -147.09002, 34, 232.42, 56931, 56931, 'Returned')
(2474, 'Medium', 0.01, 110.98, 30.0, 1104, 'Timothy Ross', 'Delivery Truck', 'Home Office', 'Furniture', 'Chairs & Chairmats', 'Jumbo Drum', 'Office Star Flex Back Scooter Chair with White Frame', 0.71, 'East', 'New York', 'New York City', 10282, '2012-04-12', '2012-04-13', -183.26, 4, 473.88, 17985, 17985, 'Returned')
(2475, 'Medium', 0.07, 20.99, 3.3, 1104, 'Timothy Ross', 'Regular Air', 'Home Office', 'Technology', 'Telephones and Communication', 'Small Pack', 'Accessory39', 0.81, 'East', 'New York', 'New York City', 10282, '2012-04-12', '2012-04-14', -133.309, 56, 950.91, 17985, 17985, 'Returned')
(3435, 'Critical', 0.03, 5.34, 5.63, 1106, 'Maxine Collier Grady', 'Regular Air', 'Consumer', 'Office Supplies', 'Binders and Binder Accessories', 'Small Box', 'Pressboard Data Binder, Crimson, 12" X 8 1/2"', 0.39, 'Central', 'Texas', 'Dallas', 75220, '2012-06-11', '2012-06-12', -60.72, 36, 208.73, 24519, 24519, 'Returned')
(7659, 'Critical', 0.06, 5.98, 5.46, 1106, 'Maxine Collier Grady', 'Regular Air', 'Small Business', 'Office Supplies', 'Paper', 'Small Box', 'Xerox 1983', 0.36, 'Central', 'Texas', 'Dallas', 75220, '2012-08-28', '2012-08-29', -57.64, 63, 389.67, 54914, 54914, 'Returned')
(7660, 'Critical', 0.06, 12.44, 6.27, 1106, 'Maxine Collier Grady', 'Regular Air', 'Small Business', 'Office Supplies', 'Storage & Organization', 'Medium Box', 'Eldon Simplefile® Box Office®', 0.57, 'Central', 'Texas', 'Dallas', 75220, '2012-08-28', '2012-08-30', -27.83, 14, 181.16, 54914, 54914, 'Returned')
(4697, 'High', 0.08, 10.35, 0.99, 1106, 'Maxine Collier Grady', 'Regular Air', 'Small Business', 'Office Supplies', 'Labels', 'Small Box', 'Avery 503', 0.37, 'Central', 'Texas', 'Dallas', 75220, '2013-10-19', '2013-10-21', 113.63, 59, 567.41, 33477, 33477, 'Returned')
(7632, 'Medium', 0.09, 130.98, 30.0, 1217, 'Billy Perry Browning', 'Delivery Truck', 'Small Business', 'Furniture', 'Chairs & Chairmats', 'Jumbo Drum', 'Office Star - Contemporary Task Swivel chair with 2-way adjustable arms, Plum', 0.78, 'East', 'Massachusetts', 'Boston', 2112, '2010-04-28', '2010-05-01', -421.76, 41, 5258.94, 54595, 54595, 'Returned')
(2099, 'Not Specified', 0.09, 28.15, 8.99, 1217, 'Billy Perry Browning', 'Express Air', 'Small Business', 'Office Supplies', 'Pens & Art Supplies', 'Small Pack', 'Boston Electric Pencil Sharpener, Model 1818, Charcoal Black', 0.57, 'East', 'Massachusetts', 'Boston', 2112, '2012-12-21', '2012-12-23', -7.8, 92, 2400.26, 15009, 15009, 'Returned')
(2100, 'Not Specified', 0.08, 7.78, 2.5, 1217, 'Billy Perry Browning', 'Express Air', 'Small Business', 'Office Supplies', 'Envelopes', 'Small Box', 'Staples #10 Colored Envelopes', 0.38, 'East', 'Massachusetts', 'Boston', 2112, '2012-12-21', '2012-12-22', 61.09, 56, 458.86, 15009, 15009, 'Returned')
(7631, 'Medium', 0.02, 8.34, 2.64, 1217, 'Billy Perry Browning', 'Regular Air', 'Small Business', 'Office Supplies', 'Scissors, Rulers and Trimmers', 'Small Pack', 'Acme® Elite Stainless Steel Scissors', 0.59, 'East', 'Massachusetts', 'Boston', 2112, '2013-04-28', '2013-04-30', 6.79, 30, 250.29, 54595, 54595, 'Returned')
(7810, 'Medium', 0.0, 7.1, 6.05, 1228, 'Hazel Jennings', 'Regular Air', 'Small Business', 'Office Supplies', 'Binders and Binder Accessories', 'Small Box', 'Wilson Jones Hanging View Binder, White, 1"', 0.39, 'East', 'Pennsylvania', 'Philadelphia', 19140, '2010-02-16', '2010-02-17', -60.145, 28, 208.83, 55874, 55874, 'Returned')
(7811, 'Medium', 0.01, 4.98, 4.62, 1228, 'Hazel Jennings', 'Express Air', 'Small Business', 'Technology', 'Computer Peripherals', 'Small Pack', 'Imation 3.5", DISKETTE 44766 HGHLD3.52HD/FM, 10/Pack', 0.64, 'East', 'Pennsylvania', 'Philadelphia', 19140, '2010-02-16', '2010-02-18', -111.72, 41, 228.3, 55874, 55874, 'Returned')
(7812, 'Medium', 0.06, 5.68, 1.39, 1228, 'Hazel Jennings', 'Regular Air', 'Small Business', 'Office Supplies', 'Envelopes', 'Small Box', 'Staples Standard Envelopes', 0.38, 'East', 'Pennsylvania', 'Philadelphia', 19140, '2010-02-16', '2010-02-16', 33.01, 24, 129.53, 55874, 55874, 'Returned')
(5882, 'Low', 0.04, 315.98, 19.99, 1228, 'Hazel Jennings', 'Regular Air', 'Small Business', 'Office Supplies', 'Binders and Binder Accessories', 'Small Box', 'GBC ProClick™ 150 Presentation Binding System', 0.38, 'East', 'Pennsylvania', 'Philadelphia', 19140, '2013-01-27', '2013-02-01', 1059.2326, 23, 7325.68, 41760, 41760, 'Returned')
(5883, 'Low', 0.0, 9.98, 12.52, 1228, 'Hazel Jennings', 'Regular Air', 'Small Business', 'Furniture', 'Office Furnishings', 'Small Box', 'Eldon® Expressions™ Wood and Plastic Desk Accessories, Oak', 0.57, 'East', 'Pennsylvania', 'Philadelphia', 19140, '2013-01-27', '2013-02-03', -213.088, 24, 269.95, 41760, 41760, 'Returned')
(5884, 'Low', 0.08, 115.99, 2.5, 1228, 'Hazel Jennings', 'Regular Air', 'Small Business', 'Technology', 'Telephones and Communication', 'Small Box', '6160', 0.57, 'East', 'Pennsylvania', 'Philadelphia', 19140, '2013-01-27', '2013-02-01', -446.1952, 8, 783.68, 41760, 41760, 'Returned')
(5885, 'Low', 0.05, 95.99, 8.99, 1228, 'Hazel Jennings', 'Regular Air', 'Small Business', 'Technology', 'Telephones and Communication', 'Small Box', '600 Series Flip', 0.57, 'East', 'Pennsylvania', 'Philadelphia', 19140, '2013-01-27', '2013-02-01', 278.78040000000004, 44, 3555.35, 41760, 41760, 'Returned')
(7466, 'Critical', 0.04, 165.98, 19.99, 1246, 'Lois Hansen', 'Regular Air', 'Home Office', 'Office Supplies', 'Binders and Binder Accessories', 'Small Box', 'GBC DocuBind P100 Manual Binding Machine', 0.4, 'East', 'New York', 'New York City', 10009, '2013-05-24', '2013-05-26', 163.8035, 8, 1390.61, 53285, 53285, 'Returned')
(3155, 'Not Specified', 0.05, 30.98, 6.5, 1280, 'Harold Albright', 'Express Air', 'Corporate', 'Technology', 'Computer Peripherals', 'Small Box', 'Belkin ErgoBoard™ Keyboard', 0.64, 'West', 'Washington', 'Seattle', 98119, '2011-12-22', '2011-12-24', -77.89, 19, 587.67, 22656, 22656, 'Returned')
(6959, 'High', 0.09, 2.94, 0.81, 1313, 'Katherine Knight', 'Regular Air', 'Corporate', 'Office Supplies', 'Pens & Art Supplies', 'Wrap Bag', 'Prang Colored Pencils', 0.4, 'East', 'Pennsylvania', 'Philadelphia', 19134, '2012-06-15', '2012-06-17', 23.74, 58, 164.27, 49762, 49762, 'Returned')
(2143, 'Critical', 0.02, 4.54, 5.83, 1314, 'Keith Marsh', 'Regular Air', 'Home Office', 'Office Supplies', 'Binders and Binder Accessories', 'Small Box', 'Avery® Durable Plastic 1" Binders', 0.36, 'West', 'California', 'Los Angeles', 90058, '2011-09-13', '2011-09-14', -74.405, 38, 183.0, 15303, 15303, 'Returned')
(2144, 'Critical', 0.02, 28.48, 8.99, 1314, 'Keith Marsh', 'Regular Air', 'Home Office', 'Technology', 'Computer Peripherals', 'Small Pack', 'Imation IBM Formatted Diskettes, 100/Pack', 0.7, 'West', 'California', 'Los Angeles', 90058, '2011-09-13', '2011-09-15', -108.14, 33, 965.16, 15303, 15303, 'Returned')
(5252, 'Critical', 0.08, 26.64, 5.3, 1314, 'Keith Marsh', 'Regular Air', 'Home Office', 'Furniture', 'Chairs & Chairmats', 'Medium Box', 'SAFCO Optional Arm Kit for Workspace® Cribbage Stacking Chair', None, 'West', 'California', 'Los Angeles', 90058, '2012-04-01', '2012-04-02', 90.04, 32, 813.66, 37380, 37380, 'Returned')
(5253, 'Critical', 0.0, 9.99, 4.78, 1314, 'Keith Marsh', 'Regular Air', 'Home Office', 'Office Supplies', 'Paper', 'Small Box', 'Xerox 1896', 0.4, 'West', 'California', 'Los Angeles', 90058, '2012-04-01', '2012-04-02', 74.73, 53, 571.93, 37380, 37380, 'Returned')
(5254, 'Critical', 0.07, 3.55, 1.43, 1314, 'Keith Marsh', 'Regular Air', 'Home Office', 'Office Supplies', 'Rubber Bands', 'Wrap Bag', 'Acco Clips to Go™ Binder Clips, 24 Clips in Two Sizes', 0.38, 'West', 'California', 'Los Angeles', 90058, '2012-04-01', '2012-04-02', 27.37, 47, 169.19, 37380, 37380, 'Returned')
(6878, 'High', 0.08, 17.67, 8.99, 1314, 'Keith Marsh', 'Regular Air', 'Home Office', 'Furniture', 'Office Furnishings', 'Small Pack', 'Executive Impressions 12" Wall Clock', 0.47, 'West', 'California', 'Los Angeles', 90058, '2012-04-11', '2012-04-12', 35.08, 46, 795.27, 49027, 49027, 'Returned')
(7626, 'Critical', 0.01, 20.24, 8.99, 1318, 'Vickie Becker', 'Regular Air', 'Home Office', 'Furniture', 'Office Furnishings', 'Small Pack', 'DAX Metal Frame, Desktop, Stepped-Edge', 0.46, 'East', 'New York', 'New York City', 10280, '2011-10-04', '2011-10-06', 35.096, 43, 938.05, 54563, 54563, 'Returned')
(5231, 'High', 0.03, 35.94, 6.66, 1413, 'Pamela Wiley', 'Regular Air', 'Corporate', 'Office Supplies', 'Envelopes', 'Small Box', 'Tyvek ® Top-Opening Peel & Seel ® Envelopes, Gray', 0.4, 'East', 'Massachusetts', 'Boston', 2113, '2011-01-14', '2011-01-15', 51.244000000000014, 13, 473.46, 37250, 37250, 'Returned')
(7106, 'High', 0.04, 304.99, 19.99, 1630, 'Jimmy Han', 'Regular Air', 'Home Office', 'Office Supplies', 'Binders and Binder Accessories', 'Small Box', 'Ibico Hi-Tech Manual Binding System', 0.4, 'Central', 'Texas', 'Houston', 77095, '2013-02-27', '2013-03-01', 3793.703, 33, 9758.7, 50721, 50721, 'Returned')
(2771, 'Not Specified', 0.03, 150.98, 66.27, 1723, 'Constance Flowers', 'Delivery Truck', 'Corporate', 'Furniture', 'Bookcases', 'Jumbo Box', 'Bush Mission Pointe Library', 0.65, 'West', 'California', 'San Diego', 92037, '2011-12-05', '2011-12-08', -533.44, 52, 8119.28, 20036, 20036, 'Returned')
(2772, 'Not Specified', 0.03, 95.99, 4.9, 1723, 'Constance Flowers', 'Regular Air', 'Corporate', 'Technology', 'Telephones and Communication', 'Small Box', 'T60', 0.56, 'West', 'California', 'San Diego', 92037, '2011-12-05', '2011-12-07', 307.251, 39, 3240.93, 20036, 20036, 'Returned')
(2773, 'Not Specified', 0.1, 11.97, 4.98, 1723, 'Constance Flowers', 'Regular Air', 'Corporate', 'Office Supplies', 'Appliances', 'Small Box', 'Staples 6 Outlet Surge', 0.58, 'West', 'California', 'San Diego', 92037, '2011-12-05', '2011-12-05', -31.55, 46, 534.45, 20036, 20036, 'Returned')
(2774, 'Not Specified', 0.03, 26.31, 5.89, 1723, 'Constance Flowers', 'Regular Air', 'Corporate', 'Technology', 'Computer Peripherals', 'Small Box', 'Micro Innovations Micro 3000 Keyboard, Black', 0.75, 'West', 'California', 'San Diego', 92037, '2011-12-05', '2011-12-07', -25.23, 81, 2222.71, 20036, 20036, 'Returned')
(8389, 'High', 0.02, 30.98, 17.08, 1733, 'Nina Horne Kelly', 'Regular Air', 'Small Business', 'Office Supplies', 'Paper', 'Small Box', 'Xerox 197', 0.4, 'East', 'District of Columbia', 'Washington', 20012, '2010-12-28', '2010-12-29', -32.28, 13, 438.25, 59937, 59937, 'Returned')
(1952, 'Critical', 0.05, 70.71, 37.58, 1959, 'Bonnie Matthews Rowland', 'Regular Air', 'Home Office', 'Furniture', 'Office Furnishings', 'Wrap Bag', 'Tenex Carpeted, Granite-Look or Clear Contemporary Contour Shape Chair Mats', 0.78, 'South', 'Florida', 'Miami', 33916, '2013-09-24', '2013-09-24', -1157.9113, 63, 4310.92, 13984, 13984, 'Returned')
(1801, 'High', 0.08, 12.64, 4.98, 1999, 'Priscilla Kane', 'Regular Air', 'Corporate', 'Furniture', 'Office Furnishings', 'Small Pack', 'Nu-Dell Executive Frame', 0.48, 'Central', 'Texas', 'Houston', 77070, '2011-05-03', '2011-05-04', 100.04, 73, 915.6, 12900, 12900, 'Returned')

In [43]:
or_df.columns

Index(['Row ID', 'Order Priority', 'Discount', 'Unit Price', 'Shipping Cost',
       'Customer ID', 'Customer Name', 'Ship Mode', 'Customer Segment',
       'Product Category', 'Product Sub-Category', 'Product Container',
       'Product Name', 'Product Base Margin', 'Region', 'State or Province',
       'City', 'Postal Code', 'Order Date', 'Ship Date', 'Profit',
       'Quantity ordered new', 'Sales', 'Order ID'],
      dtype='object')

In [68]:
#5 . Try to find out how many unique customer that we have 
Number_total_Uniq = set(or_df['Customer ID'])
print('unique record thru set: ', len(Number_total_Uniq))
no_urcd = or_df['Customer ID'].nunique()
print("Unique rcord using Nuniue: ", no_urcd)

unique record thru set:  2703
Unique rcord using Nuniue:  2703

In [70]:
#to get the unique reord counts for each row 
or_df.nunique()

Row ID                  9426
Order Priority             6
Discount                  16
Unit Price               751
Shipping Cost            652
Customer ID             2703
Customer Name           2703
Ship Mode                  3
Customer Segment           4
Product Category           3
Product Sub-Category      17
Product Container          7
Product Name            1263
Product Base Margin       51
Region                     4
State or Province         49
City                    1424
Postal Code             1697
Order Date              1419
Ship Date               1450
Profit                  8979
Quantity ordered new     112
Sales                   8674
Order ID                6455
dtype: int64

In [2]:
#6 . try to find out in how many regions we are selling a product and who is a manager for a respective region 
or_df= pd.read_sql_table("superstore_usa_orders", engine)
us_df = pd.read_sql_table("superstore_usa_users", engine)
reg = pd.merge(us_df,or_df, on ='Region')
nu_of_reg = reg['Region'].nunique()
names_region =reg[['Manager', 'Region']].drop_duplicates(subset=['Manager', 'Region'])
print('Number of Region we are selling are :', nu_of_reg)
print('Managers with respective their Regions: \n', names_region)

Number of Region we are selling are : 4
Managers with respective their Regions:
       Manager   Region
0       Chris  Central
2899     Erin     East
5188      Sam    South
7142  William     West

In [27]:
#7 . find out how many different differnet shipement mode that we have and what is a percentage usablity of 
#all the shipment mode with respect to dataset 
nu_of_shpmode = or_df['Ship Mode'].nunique()
name_shipm = list(or_df['Ship Mode'].unique())
print('Number of shiping mode :', nu_of_shpmode)
print('Shipment name : ', name_shipm)

Count_ech_mode = or_df['Ship Mode'].value_counts()
Total_c_sm = sum(or_df['Ship Mode'].value_counts())
perc = (Count_ech_mode/Total_c_sm) *100
perc

Number of shiping mode : 3
Shipment name :  ['Regular Air', 'Express Air', 'Delivery Truck']

Regular Air       74.644600
Delivery Truck    13.611288
Express Air       11.744112
Name: Ship Mode, dtype: float64

In [44]:
or_df['Ship Date'] = or_df['Ship Date'].astype('datetime64')
or_df['Order Date'] = pd.to_datetime(or_df['Order Date'])
or_df.dtypes

Row ID                           int64
Order Priority                  object
Discount                       float64
Unit Price                     float64
Shipping Cost                  float64
Customer ID                      int64
Customer Name                   object
Ship Mode                       object
Customer Segment                object
Product Category                object
Product Sub-Category            object
Product Container               object
Product Name                    object
Product Base Margin            float64
Region                          object
State or Province               object
City                            object
Postal Code                      int64
Order Date              datetime64[ns]
Ship Date               datetime64[ns]
Profit                         float64
Quantity ordered new             int64
Sales                          float64
Order ID                         int64
dtype: object

In [49]:
#8 . Create a new coulmn and try to find our a diffrence between order date and shipment date
or_df['Duration']=  pd.to_timedelta(or_df['Ship Date']- or_df['Order Date'])
or_df

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,Duration
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Illinois,Addison,60101,2012-05-28,2012-05-30,1.320000,2,5.90,88525,2 days
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.560000,4,13.01,88522,1 days
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,Washington,Anacortes,98221,2011-07-27,2011-07-28,-47.640000,7,49.92,88523,1 days
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,Washington,Anacortes,98221,2011-07-27,2011-07-28,-30.510000,7,41.64,88523,1 days
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,...,Washington,Anacortes,98221,2011-07-27,2011-07-27,998.202300,8,1446.67,88523,0 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9421,20275,Critical,0.06,35.89,14.72,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,West Virginia,Charleston,25314,2013-05-14,2013-05-15,137.860000,13,447.87,87532,1 days
9422,20276,Critical,0.00,3.34,7.49,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,West Virginia,Charleston,25314,2013-05-14,2013-05-14,-39.070000,3,13.23,87532,0 days
9423,24491,Not Specified,0.08,550.98,45.70,3402,Frederick Cole,Delivery Truck,Consumer,Furniture,...,West Virginia,Charleston,25314,2013-09-12,2013-09-14,-1225.029097,4,2215.93,87533,2 days
9424,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,Furniture,...,Wyoming,Cheyenne,82001,2010-02-08,2010-02-11,349.485000,5,506.50,87530,3 days
9425,24492,Not Specified,0.09,7.78,2.50,3403,Tammy Buckley,Express Air,Consumer,Office Supplies,...,Wyoming,Cheyenne,82001,2013-09-12,2013-09-14,78.062400,23,172.48,87533,2 days

In [62]:
#9 . base on question number 8 find out for which order id we have shipment duration more than 10 days
or_df[or_df['Duration'] > pd.to_timedelta(10 ,'D')][['Order ID', 'Ship Date', 'Order Date', 'Duration']]

      Order ID  Ship Date Order Date Duration
643      87215 2012-03-22 2011-12-29  84 days
1548     86318 2012-01-10 2011-12-30  11 days
1549     86318 2012-01-14 2011-12-30  15 days
1678     87957 2012-01-16 2011-12-30  17 days
1679     87957 2012-01-10 2011-12-30  11 days
1680     87957 2012-01-27 2011-12-30  28 days
1697     19556 2012-01-16 2011-12-30  17 days
1698     19556 2012-01-10 2011-12-30  11 days
1699     19556 2012-01-27 2011-12-30  28 days
2515     86177 2012-03-31 2011-12-30  92 days
5548     88223 2012-01-13 2011-12-30  14 days
5673     88352 2012-01-14 2011-12-28  17 days
5859     87572 2012-01-17 2011-12-26  22 days
5881     91294 2012-01-19 2011-12-26  24 days
8607     86434 2012-01-16 2011-12-29  18 days
8609     86436 2014-01-15 2013-12-29  17 days
8610     86436 2014-01-17 2013-12-29  19 days
8973     87300 2012-01-14 2011-12-26  19 days
8982     19841 2012-01-22 2011-12-26  27 days
8983     19841 2012-01-26 2011-12-26  31 days
8993     19841 2014-01-14 2013-12-26  19 days
8996     87300 2012-01-22 2011-12-26  27 days
8997     87300 2012-01-26 2011-12-26  31 days

In [76]:
#10 . Try to find out a list of a returned order which sihpment duration was more then 15 day
# and find out that region manager as well 
Mer_df = or_df.merge(rt_df, on='Order ID')
#Mer_df[Mer_df['Duration'] > pd.to_timedelta(15, 'D')][['Order ID','Duration']] no records 
Mer_df[Mer_df['Duration'] > pd.to_timedelta(5, 'D')][['Order ID','Duration']]

    Order ID Duration
25     51559   9 days
43     41760   7 days
88     32931   7 days

In [82]:
#11 . Gorup by region and find out which region is more profitable
or_df.groupby('Region')['Profit'].mean().sort_values(ascending =False)

Region
Central    179.312027
East       164.948094
West       136.098710
South       53.327120
Name: Profit, dtype: float64

In [90]:
#12 . Try to find out overalll in which country we are giving more didscount 
or_df.groupby('State or Province')['Discount'].mean().sort_values(ascending = False).head()

State or Province
Wyoming         0.054762
Louisiana       0.054607
Rhode Island    0.054500
Utah            0.052534
Minnesota       0.052385
Name: Discount, dtype: float64

In [99]:
#13 . Give me a list of unique postal code 
Uniq_pc = list(or_df['Postal Code'].unique())
Uniq_pc

[60101,
 98221,
 91776,
 95123,
 2724,
 3110,
 8101,
 8109,
 7203,
 2907,
 55372,
 11787,
 13210,
 59405,
 59601,
 59801,
 68005,
 10012,
 92653,
 92677,
 92530,
 92630,
 90712,
 93534,
 90260,
 97405,
 97526,
 97030,
 97123,
 97303,
 62002,
 98373,
 98052,
 75019,
 23834,
 62701,
 60107,
 60477,
 14150,
 12180,
 77642,
 75080,
 77471,
 78664,
 75088,
 24153,
 94043,
 92563,
 94559,
 10177,
 2917,
 5401,
 4070,
 2331,
 8830,
 8701,
 7470,
 7481,
 5201,
 97035,
 44708,
 45231,
 44105,
 95687,
 5451,
 94591,
 70056,
 22102,
 60601,
 66209,
 66215,
 66502,
 66062,
 6510,
 4401,
 4005,
 2129,
 2038,
 1852,
 1752,
 2067,
 3820,
 8618,
 7644,
 7110,
 8861,
 7095,
 2895,
 97128,
 97504,
 98103,
 84118,
 84041,
 93277,
 76903,
 78207,
 60004,
 94952,
 1510,
 1106,
 1880,
 6401,
 6360,
 2664,
 15122,
 76148,
 5439,
 5403,
 37664,
 37918,
 37086,
 37087,
 80525,
 80817,
 60452,
 76131,
 98059,
 99352,
 37804,
 70802,
 4092,
 7024,
 76240,
 98158,
 78415,
 94122,
 4011,
 4240,
 2474,
 2540,
 1580,
 3038,
 60505,
 84043,
 84321,
 66212,
 48138,
 85335,
 74006,
 75217,
 77536,
 90660,
 13501,
 11580,
 63114,
 84044,
 84047,
 84107,
 60453,
 2021,
 2766,
 7101,
 28227,
 60302,
 60462,
 50208,
 80027,
 66203,
 81503,
 80634,
 37922,
 38109,
 55423,
 55901,
 55113,
 80126,
 80232,
 17331,
 33772,
 87505,
 12208,
 44106,
 43229,
 78589,
 86001,
 85234,
 85301,
 30297,
 28204,
 6824,
 6111,
 6226,
 7109,
 66614,
 67212,
 80538,
 80233,
 80134,
 6830,
 6770,
 6855,
 4073,
 1069,
 2725,
 21234,
 21128,
 21208,
 20854,
 98115,
 91945,
 94404,
 60130,
 1007,
 7111,
 8052,
 21133,
 60510,
 3045,
 7410,
 97045,
 97206,
 44221,
 6478,
 33181,
 4101,
 3246,
 3101,
 7010,
 2878,
 33132,
 13601,
 85338,
 86401,
 19406,
 93727,
 4072,
 7628,
 7071,
 2816,
 2910,
 2886,
 94601,
 2149,
 1840,
 48234,
 37814,
 62223,
 61008,
 61701,
 60440,
 19026,
 68025,
 68801,
 68847,
 68502,
 48509,
 63105,
 13021,
 13905,
 28001,
 45406,
 43015,
 95240,
 90805,
 4901,
 8360,
 78666,
 7026,
 93405,
 94403,
 2358,
 7201,
 7032,
 7666,
 68104,
 89701,
 94583,
 92704,
 6010,
 6108,
 4330,
 1462,
 2370,
 7047,
 7480,
 61801,
 68701,
 56301,
 94024,
 93635,
 95032,
 90266,
 1923,
 2457,
 3054,
 8332,
 90069,
 92683,
 90604,
 2019,
 1915,
 2341,
 7506,
 8601,
 30318,
 1845,
 39180,
 11704,
 11795,
 60543,
 95020,
 4106,
 2062,
 7042,
 10154,
 24281,
 37130,
 84404,
 84057,
 55416,
 46041,
 42104,
 41011,
 95336,
 4038,
 2148,
 8753,
 76067,
 11226,
 97756,
 85204,
 85737,
 84062,
 64064,
 63043,
 22025,
 60061,
 93101,
 95051,
 26501,
 88201,
 78155,
 75090,
 90008,
 68046,
 84604,
 60067,
 60068,
 60087,
 60185,
 75081,
 60187,
 60090,
 39701,
 89015,
 61554,
 61604,
 91767,
 6415,
 4210,
 2032,
 1801,
 3301,
 8021,
 7031,
 7054,
 60091,
 60517,
 46016,
 47401,
 46032,
 47201,
 21136,
 81001,
 90045,
 14224,
 10605,
 10701,
 97301,
 97477,
 97224,
 81007,
 48195,
 5701,
 43952,
 20852,
 20602,
 55106,
 55378,
 95062,
 93454,
 98119,
 60544,
 62301,
 55379,
 60089,
 89115,
 91730,
 2116,
 1540,
 77373,
 37211,
 75203,
 52501,
 64133,
 63301,
 64506,
 98387,
 99207,
 98408,
 77478,
 63116,
 63376,
 80229,
 80030,
 46307,
 46312,
 98105,
 90041,
 90405,
 95404,
 95070,
 6040,
 6460,
 6850,
 6702,
 1520,
 2152,
 7067,
 2840,
 48841,
 89031,
 89041,
 41042,
 6614,
 1803,
 1420,
 1089,
 2190,
 3053,
 3079,
 7003,
 7016,
 7039,
 8232,
 7901,
 85345,
 85023,
 60423,
 40324,
 86301,
 86314,
 97062,
 61201,
 98661,
 14215,
 61107,
 97068,
 18103,
 16602,
 72143,
 92054,
 6033,
 6484,
 6437,
 92691,
 95351,
 6512,
 7001,
 73064,
 27502,
 84067,
 29915,
 84106,
 32168,
 37830,
 42420,
 85254,
 8046,
 99362,
 37167,
 37174,
 79605,
 75002,
 79109,
 71854,
 80033,
 21222,
 6511,
 8002,
 91745,
 93117,
 6114,
 2210,
 1450,
 1060,
 3839,
 92544,
 92345,
 6405,
 6810,
 6492,
 75503,
 77590,
 46514,
 55126,
 89502,
 66202,
 11575,
 85635,
 93422,
 20746,
 76017,
 78745,
 77520,
 77705,
 76021,
 89431,
 20024,
 83616,
 76201,
 33430,
 10039,
 1887,
 7652,
 42240,
 26003,
 78521,
 77803,
 76028,
 96003,
 92374,
 1463,
 7008,
 8857,
 7050,
 7501,
 90278,
 6776,
 2127,
 1605,
 7002,
 2914,
 90049,
 75482,
 75067,
 19901,
 19711,
 94061,
 60610,
 6105,
 2108,
 3842,
 92503,
 95677,
 2339,
 1841,
 7079,
 91761,
 1718,
 1701,
 1040,
 2151,
 7650,
 93030,
 3431,
 7601,
 7450,
 11720,
 60459,
 7712,
 72022,
 28806,
 27217,
 27511,
 66762,
 55125,
 15221,
 11722,
 14225,
 11725,
 27514,
 28205,
 28027,
 27707,
 43017,
 15102,
 95695,
 95991,
 92399,
 90004,
 6473,
 2109,
 7030,
 85351,
 85374,
 3060,
 2864,
 11727,
 10573,
 60409,
 62901,
 18018,
 60441,
 60174,
 60193,
 60076,
 11729,
 11746,
 8816,
 8817,
 7646,
 65721,
 10282,
 18040,
 75220,
 77566,
 75146,
 78041,
 77573,
 80004,
 85281,
 85705,
 85364,
 72714,
 72015,
 92592,
 95661,
 75116,
 78852,
 78539,
 2118,
 79907,
 76039,
 75234,
 60188,
 75056,
 77381,
 75701,
 77901,
 76706,
 75165,
 76086,
 6611,
 1821,
 1056,
 1075,
 7801,
 90640,
 1876,
 7086,
 3801,
 7407,
 8226,
 7070,
 19805,
 32701,
 2040,
 10280,
 27237,
 84660,
 84663,
 35756,
 92646,
 90301,
 6050,
 6790,
 20016,
 34142,
 1108,
 1776,
 7843,
 2920,
 32712,
 46806,
 46404,
 46530,
 97420,
 19013,
 2112,
 1906,
 2451,
 7052,
 2861,
 19140,
 98801,
 75028,
 76106,
 75007,
 75104,
 78613,
 36830,
 35020,
 78641,
 10009,
 75057,
 60110,
 61821,
 77530,
 76031,
 80013,
 80303,
 40422,
 80020,
 80104,
 80906,
 73521,
 33433,
 33437,
 34210,
 91941,
 1930,
 8401,
 7097,
 46142,
 46324,
 47591,
 19134,
 15241,
 6320,
 47274,
 1749,
 2153,
 33180,
 75601,
 84074,
 98902,
 25314,
 82604,
 84084,
 84120,
 60623,
 11554,
 90058,
 80022,
 80219,
 77840,
 2478,
 1453,
 2744,
 8302,
 8028,
 7940,
 62234,
 10170,
 17201,
 77546,
 33511,
 33063,
 33055,
 78596,
 76308,
 52761,
 48101,
 32707,
 79424,
 75901,
 76063,
 75098,
 95207,
 6408,
 2703,
 1832,
 22304,
 46342,
 46203,
 94025,
 94086,
 91360,
 1027,
 1867,
 8863,
 60653,
 48104,
 49017,
 48708,
 84003,
 92553,
 95037,
 2113,
 47130,
 46901,
 47905,
 28031,
 44112,
 80112,
 21146,
 20901,
 44035,
 44117,
 65807,
 63130,
 63135,
 16509,
 17112,
 96150,
 6795,
 2638,
 8901,
 97801,
 29687,
 46226,
 46952,
 46410,
 68601,
 84010,
 84015,
 43081,
 44145,
 44691,
 82001,
 82716,
 33134,
 53110,
 60016,
 60516,
 46360,
 10045,
 94044,
 32137,
 59901,
 14901,
 33065,
 60478,
 46544,
 47302,
 47150,
 62205,
 6488,
 6710,
 1545,
 2072,
 55305,
 35211,
 35601,
 27288,
 92262,
 63385,
 92253,
 78363,
 33314,
 32114,
 46060,
 46368,
 47374,
 39530,
 39056,
 38701,
 39503,
 22003,
 22204,
 24060,
 78501,
 75150,
 33441,
 32720,
 60123,
 45385,
 28314,
 28307,
 6607,
 77571,
 63044,
 44094,
 44511,
 25705,
 82070,
 68901,
 20601,
 11598,
 11010,
 11520,
 95823,
 93905,
 2445,
 1748,
 45324,
 46322,
 97601,
 17602,
 46375,
 11542,
 10528,
 37743,
 74012,
 77095,
 39401,
 38637,
 39212,
 92404,
 94070,
 6901,
 11714,
 60098,
 27203,
 98072,
 90503,
 15131,
 33403,
 33445,
 22015,
 22901,
 23320,
 67114,
 25801,
 45014,
 45840,
 60611,
 77301,
 60007,
 20190,
 72701,
 72903,
 71901,
 19057,
 39301,
 44118,
 19464,
 30062,
 30907,
 30265,
 49534,
 27529,
 35473,
 72401,
 72209,
 92037,
 43026,
 45424,
 44240,
 45429,
 83843,
 88310,
 20012,
 11550,
 28052,
 27534,
 27405,
 27834,
 75034,
 30305,
 73034,
 73703,
 73505,
 73110,
 90036,
 79701,
 95376,
 1607,
 32725,
 34698,
 63141,
 60126,
 60201,
 61032,
 32780,
 46614,
 47802,
 46383,
 47906,
 50010,
 92672,
 92105,
 1945,
 30188,
 59102,
 61401,
 60137,
 94110,
 50021,
 52722,
 63119,
 26101,
 36330,
 90032,
 38654,
 39208,
 48187,
 49236,
 48126,
 48127,
 33178,
 11801,
 52601,
 50613,
 52402,
 15146,
 38671,
 1810,
 2334,
 1469,
 43230,
 1886,
 11741,
 35630,
 92008,
 6443,
 2110,
 1826,
 2035,
 2169,
 1550,
 1570,
 7080,
 7090,
 2808,
 87105,
 94306,
 22193,
 24541,
 ...]

In [107]:
#14 . which customer segement is more profitalble find it out . 
or_df.groupby('Customer Segment')['Profit'].mean().sort_values(ascending= False).head()

Customer Segment
Small Business    171.903635
Corporate         149.789223
Home Office       122.568892
Consumer          109.059992
Name: Profit, dtype: float64

In [39]:
#15 . try to find out the 10th most loss making product catagory . 
#or_df['Profit'].sort_values().head(10)
or_df.groupby('Product Category').sum()

,Row ID,Discount,Unit Price,Shipping Cost,Customer ID,Product Base Margin,Postal Code,Profit,Quantity ordered new,Sales,Order ID
Product Category,,,,,,,,,,,
Furniture,39233109,95.08,235262.68,59435.92,3305225,1127.68,101739746,177354.298188,26652,3178623.74,159554671
Office Supplies,104819362,260.02,186324.90,40482.49,9112349,2376.77,269981992,451990.216492,71542,2258325.55,425714937
Technology,46739339,112.69,410762.96,20688.60,3968794,1286.57,122637343,683097.884748,31870,3514982.03,190664470

In [38]:
#16 . Try to find out 10 top  product with highest margins 
or_df['Product Base Margin'].sort_values(ascending=False).head(10).drop_duplicates()
or_df.sort_values('Product Base Margin', ascending=False)[['Product Base Margin']].drop_duplicates().head(10)

      Product Base Margin
9145                 0.85
2847                 0.84
165                  0.83
6311                 0.82
3864                 0.81
7707                 0.80
866                  0.79
5574                 0.78
654                  0.77
2241                 0.76

Order ID    61
Status       1
dtype: int64